include ./partials/header
.container
	.row
		.col-md-6.col-md-offset-3.home-container.text-center
			h1 Welcome to Send Me a Beer
			div
				a(href="/beers").btn.btn-warning.btn-md Click Here to Look Up Some Beers