include ./partials/header

.container
	.row
		.col-md-12.text-center.index-header
			h1 Choose a Beer to Search
			h4 or 
			h1 Check Out Your Favorites
	.row
		.col-md-5.beers-container
			form.text-center(action="/beers/beer" method="POST")
				input.form-control.text-center#beerSearch(type="text", name="beerSearch", autofocus="true")
				//- input.btn.btn-warning.btn-sm(type="submit", value="Search")
			table#beers.table.table-hover
				tbody.text-center
					each name in beerNames
						tr.text-center
							td= name
		.col-md-5.col-md-offset-2.favorites-container
			h1.text-center Favorited Beers
			div.text-center
				form(action="/beers?_method=DELETE" method="POST")
					input#delete-all.btn.btn-danger.btn-md(type="submit", value="Delete All")
			table.table.table-hover
				tbody#favorites.text-center
					each favorite in favorites
						tr
							td= favorite.name
							//- td= favorite.count
							td
								form(action="/beers/beer/id?_method=DELETE" method="POST")
									input.btn.btn-danger.btn-sm#delete-one(type="submit", value="X")
									//- input.btn.btn-danger.btn-sm#delete-one(type="submit", value="What?")
												//- Going to need an id somewhere in here.




script(src="/indexScript.js", type="text/javascript")