*{
	font-family: 'Cinzel', serif;
}
body {
	background-image: url(http://static1.squarespace.com/static/53ce954de4b0945af8803fe9/t/54343198e4b0e4aae11b4e90/1412706713316/beers.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;


}

.navbar-custom {
	background: #F18E1C;
	border-color: #674C34;
}

.navbar-default .navbar-brand,
a.navbar-default.navbar-barand:hover {
	color: #FFFBB1;
}

.home-container h1,
.index-header h1,
.index-header h4 {
	font-family: 'Cinzel', serif;
	font-size: 35px;
  
}

.index-header h1:nth-child(1){
	margin-bottom: 0;
}
.index-header h1:nth-child(3) {
	margin: 0;
}

.index-header h4 {
	margin: 0;
}

.index-container {
	outline: 1px solid black;
}

.beers-container,
.favorites-container {
	background-color: #CB5909;
	padding: 10px;
}

.favorites-container {

	border-radius: 5px 5px 50px 50px
}
.beers-container {
	border-radius: 5px 5px 50px 50px

}

.table>tbody>tr>td {
	border-top: 1px solid #6A2C0C;
}

.beers-container form {
	margin: 10px;
}

.show-container .col-md-4 {
	background-color: #CB5909;
	padding: 20px;
	border-radius: 5px 5px 50px 50px;
}



